body {
    background-color: beige;
}

header {
    background-color: aquamarine;
}

footer {
    background-color: black;
    color: white;
}

.red {
    background-color: brown;
}

footer{
    height: 70px;
    text-align: center;
    
}

