body{
background-color: #F8F9F9;
font-size: 14px;
color:#34495E;
font-family: Arial, Helvetica, sans-serif;
}

h1{
    border-bottom-style: groove;
    color: #FF0000;
    margin-top: 10px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    

}

h2{
    color: #34495E;
    font-size: small;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

}



h3{
    color: #34495E;
    margin-top: 10px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
}

h4{
    color: #34495E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

p{
    color: #34495E;
    font-family: Arial, Helvetica, sans-serif;

}

img{
    border-style: solid;
    border-color: #FF0000;
    border-width: 1px;
    padding: 10px;
    width: 250px;
    opacity: 0.5;
    
    
}


a{
    color:#FF0000
   
}

a:hover {
    color:#0000FF
}

figure{

}

.warning{

}